<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <!--先定义所有的appender 像java stringBuffer.append,追加到日志文件-->
    <appenders>

        <!--这个输出日志信息到控制台-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--这个都知道是输出日志的格式-->
            <PatternLayout pattern="[console] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <!--这个会打印日志到文件中-->
        <RollingFile name="RollingFile" fileName="/logs/log.log" filePattern="/logs/%d{yyyy-MM-dd}_%i.log">>
            <PatternLayout pattern="[file] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="100MB"/>
        </RollingFile>

    </appenders>

    <!--然后定义logger，只有定义了logger并引入appender，appender才会生效-->
    <loggers>
        <!--建立一个默认的root的logger-->
        <root level="info">
        	<appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>